#root {
	margin: 0 auto;
	text-align: left;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	filter: drop-shadow(0 0 1em #646cffaa);
	position: absolute;
	padding: 2rem;
	top: 1rem;
	left: 10px;
}

.time-between-generations {
	padding: 2rem;
	position: absolute;
	color: #888;
	top: 5rem;
	left: 10px;
}

.cellGrid {
	border-radius: 10px;
	padding: 2rem;
	position: absolute;
	top: 7rem;
	left: 10px;
}

.cellState {
	font-size: 24px;
	display: block;
	width: 20px;
	height: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
	width: 100%;
	max-width: 600px; /* Or whatever you want */
	margin: 0 auto;
	gap: 2px;
}

.cell {
	width: 100%;
	aspect-ratio: 1 / 1; /* Keeps cells square */
	cursor: pointer;
}

.cell.dead {
	background-color: #1a1a1a;
}

.cell.alive {
	background-color: #4caf50;
}
